<nav
  class="bg-[#F9F6EE] dark:bg-gray-900 text-gray-900 dark:text-gray-100 flex items-center justify-between px-6 py-3 shadow-md border-b border-gray-200 dark:border-gray-700 transition-all duration-300">

  <button (click)="toggleSidebar()" class="p-2 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-800 transition">
    <img src="assets/images/icons/hamburger.svg" alt="Menu" class="w-6 h-6" />
  </button>

  <div class="flex items-center gap-3">
    <img src="assets/images/icons/logo2.png" alt="Logo" class="w-8 h-8 rounded-md shadow-sm" />
    <span class="font-semibold text-lg md:text-xl tracking-tight">پنل مدیریت</span>
  </div>

  <div class="flex items-center gap-4">
    <div class="relative flex items-center gap-2">
      <button (click)="toggleMenu()"
        class="relative flex items-center gap-2 rounded-full hover:bg-gray-100 dark:hover:bg-gray-800 p-1 pr-3 transition">
        <img [src]="avatarUrl" alt="User" class="w-8 h-8 rounded-full" />
        <p class=" sm:block font-medium">{{ username }}</p>

      </button>


      <div class="absolute left-0 top-12 z-50 w-40">
        <app-menu [isOpen]="isMenuOpen" (toggleMenuEvent)="toggleMenu()"></app-menu>
      </div>
    </div>
    <app-theme-toggle></app-theme-toggle>
    <select  class="bg-transparent border rounded px-2 py-1 text-sm" (change)="changeLang($event)">
      <option value="fa" > فارسی</option>
      <option value="en"> English</option>
    </select>
  </div>
</nav>



<div class="flex h-screen">
  <aside [ngClass]="{'hidden': !isSidebarOpen(), 'flex': isSidebarOpen()}" id="sidebar"
    class="bg-gray-700 dark:bg-gray-900 w-[220px] flex-col py-6 text-white  shadow-lg md:flex">
    <div class="flex items-center gap-3 px-4 py-3 hover:bg-gray-800 cursor-pointer rounded-lg mx-2">
      <img src="assets/images/icons/home.svg" class="w-5 h-5" />
      <a class="text-sm font-medium" routerLink="/">{{'home'| translate }}</a>
    </div>
    <div class="flex items-center gap-3 px-4 py-3 hover:bg-gray-800 cursor-pointer rounded-lg mx-2">
      <img src="assets/images/icons/avatar.svg" class="w-5 h-5" />
      <a class="text-sm font-medium" routerLink="/users">{{'users'|translate}}</a>
    </div>
    <div class="flex items-center gap-3 px-4 py-3 hover:bg-gray-800 cursor-pointer rounded-lg mx-2">
      <img src="assets/images/icons/settings.svg" class="w-5 h-5" />
      <a class="text-sm font-medium" routerLink="/settings">{{'settings'|translate}}</a>
    </div>

    <div class="flex items-center gap-3 px-4 py-3 hover:bg-gray-800 cursor-pointer rounded-lg mx-2 mt-auto">
      <img src="assets/images/icons/logout.svg" class="w-5 h-5" />
      <a class="text-sm font-medium" (click)="logoOut()">{{'logout'|translate}}</a>
    </div>
  </aside>

  <main class="flex-1 gap-3 overflow-auto p-4 bg-white dark:bg-gray-800 text-black dark:text-white ">
    <app-breadcrumb></app-breadcrumb>
    <router-outlet></router-outlet>
  </main>
</div>
