<nav *ngIf="breadcrumbService.breadcrumbs.length" class="text-sm text-gray-600">
    <ul class="flex space-x-2">
      <li *ngFor="let breadcrumb of breadcrumbService.breadcrumbs; let last = last">
        <a
          *ngIf="!last; else lastBreadcrumb"
          [routerLink]="breadcrumb.url"
          class="hover:underline text-blue-600"
          >{{ translate( breadcrumb.label) }}</a
        >
        <ng-template #lastBreadcrumb>
          <span class="text-gray-500">{{ translate( breadcrumb.label) }}</span>
        </ng-template>
        <span *ngIf="!last">/</span>
      </li>
    </ul>
  </nav>
  